@font-face {
    font-family: "Airbnb";
    src: url(../fonts/AirbnbCerealMedium.ttf);
}  

* {
    margin: 0;
    padding: 0;
    font-family: "Airbnb";
}  

.home .main-navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.home .main-home {
    margin-top: 80px;
}

.history .main-navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: #ffffff;
}

.history .main-history {
    margin-top: 80px;
}

.header {
    background: #ffffff;
    opacity: 0.98;
    margin: 0;
    width: 100%;
}

.header .header-burger {
    padding-left: 25px;
}

.header .header-search {
    position: absolute;
	right: 0;
	top: -5px;
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
	border-radius: 100px;
    padding: 10px 20px;
}

.header .header-search:hover > .search-txt {
	width: 200px;
	padding-left: 20px;
}

.header .header-search:hover > .search-txt {
    /* background: grey; */
    border: 1px solid black;
}

.header .search-btn {
	transition: 0.4s;
	color: white;
	cursor: pointer;
}

.header .search-txt {
	border: none;
	background: none;
	outline: none;
    float: left;
    position: absolute;
    top: 0;
    left: -130px;
	padding: 0;
	color: #000;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
    width: 0px;
    height: 50px;
	border-radius: 100px;
}

.navigation {
    height: 80px;
    padding: 20px 50px;
    background: #ffffff;
}
  
.navigation img {
    width: 30px;
}
  
.side-cart {
    margin-top: 25px;
    margin-left: 70%;
    /* position: absolute; */
    /* top: -50px; */
    /* right: 0; */
    /* left: 850px; */
    /* height: 80px; */
    /* padding: 20px 0; */
    /* box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.11); */
}
  
.side-cart span.badge {
    background: #57cad5;
    border-radius: 100%;
}

/* Main Content */
.detail-sidenav {
    background: #ffffff;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.11);
    width: 50px;
    /* height: 750px; */
}

.detail-sidenav img {
    width: 30px;
    margin: 20px 15px;
}

.main-content {
    padding: 20px;
    height: 1200px;
    /* padding-right: 50px;
    margin-right: 65px; */
    background: rgba(190, 195, 202, 0.3);
}

.main-content .search-wrapper input{
    border: none;
    border: 1px solid rgb(133, 132, 132);
    border-radius: 5px;
    background: #fff;
    padding: 5px;
}

.main-content .main-food {
    margin: 10px 0;
}

.main-content .main-food img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.main-content .main-food .select-image img {
    width: 25%;
    height: 25%;
    /* background-size: cover; */
    margin-top: 25%;
}

.main-content .main-food .select-image {
    content: "";
    width: 90%;
    height: 66%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 5%;
    border-radius: 10px 10px 0 0;
}

.main-content .main-food .img-cart img {
    width: 20px;
    height: 20px;
}

.main-content .main-food p {
    font-size: 20px;
    margin-top: 5px;
}

.main-content .main-food h3 {
    font-weight: bold;
    font-size: 24px;
}

.main-content .main-food .btn-access {
    width: 75px;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;

}

.main-content .main-food .btn-update {
    margin-right: 5px;
}

.content-cart {
    box-shadow: -2px 0px 0px 0px rgba(0, 0, 0, 0.11);
    border-top: 1px solid rgb(206, 206, 206);
}

.content-cart .cartBefore img {
    width: 200px;
}

.content-cart p {
    color: rgb(200, 200, 200);
}

.detail-cart {
    margin: 30px;
    margin-left: 20px;
}

.detail-cart h5 {
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.detail-cart h6 {
    font-size: 15px;
    margin-top: 70px;
}

.detail-cart img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.detail-cart .btn {
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    color: #82de3a;
    border: 1px solid #82de3a;
}

.detail-cart .minus {
    background: rgba(130, 222, 58, 0.2);
    width: 35px;
    height: 35px;
    margin-left: 30px;
}

/* .detail-cart .number {
    
} */

.detail-cart .detail-number input {
    padding-bottom: 2px;
    background: #ffffff;
    width: 35px;
    height: 35px;
    color: #82de3a;
    border: 1px solid #82de3a;
    text-align: center;
}

.detail-cart .plus {
    background: rgba(130, 222, 58, 0.2);
    width: 35px;
    height: 35px;
}

.detail-cart .detail-cekout {
    margin-top: 25%;
}  

.detail-cart .detail-cekout p {
    color: #000;
    font-weight: bold;
}

.detail-cart .detail-cekout p span {
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.detail-cart .detail-cekout .btn-checkout {
    padding: 0 20px;
}

.detail-cart .detail-cekout .btn-checkout {
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #57cad5;
    background-color: #57cad5;
    transition: 0.8s ease-in-out;
    color: #ffffff;
}

.detail-cart .detail-cekout .btn-checkout:hover {
    border: 1px solid #2fafbb;
    background-color: #2fafbb;
  }

.detail-cart .detail-cekout .btn-cancel {
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    margin: 5px 0;
    border: 1px solid #f24f8a;
    background-color: #f24f8a;
    transition: 0.8s ease-in-out;
    color: #ffffff;
}

.detail-cart .detail-cekout .btn-cancel:hover {
    border: 1px solid #dd3f79;
    background-color: #dd3f79;
}
  
/* History */
.content-history {
    background: #f6f6f6;
}

.history .card-history {
    width: 1000px;
    display: grid;
    /* background: #e5e5e5; */
    grid-template-areas: "btn-income btn-orders btn-years";
    padding: 30px 20px;
    margin: 0 20px;
}

.history .card-history h2 {
    font-size: 28px;
}
  
.history .btn-income {
    grid-area: btn-income;
    width: 345px;
    height: 175px;
    border: 1px solid rgb(250, 215, 216);
    margin: 0 20px;
    border-radius: 10px;
    padding: 30px 30px;
    background: rgb(250, 215, 216);
    background: linear-gradient(
      100deg,
      rgba(250, 215, 216, 1) 0%,
      rgba(251, 178, 180, 1) 100%
    );
    box-shadow: 5px 5px 5px 0px rgba(250, 215, 216, 1);
    /* background: rgba(255, 143, 178, 0); */
    /* rgba(255, 143, 178, 0) @ 100%; */
}

.history .btn-orders {
    grid-area: btn-orders;
    width: 345px;
    height: 175px;
    border: 1px solid rgb(41, 223, 255);
    margin: 0 20px;
    border-radius: 10px;
    padding: 30px 30px;
    background: rgb(41, 223, 255);
    background: linear-gradient(
      100deg,
      rgba(41, 223, 255, 1) 0%,
      rgba(69, 205, 230, 1) 100%
    );
    box-shadow: 5px 5px 5px 0px rgba(115, 236, 255, 1);
}

.history .btn-years {
    grid-area: btn-years;
    width: 345px;
    height: 175px;
    border: 1px solid rgb(219, 195, 236);
    margin: 0 20px;
    border-radius: 10px;
    padding: 30px 30px;
    background: rgb(219, 195, 236);
    background: linear-gradient(
      100deg,
      rgba(219, 195, 236, 1) 0%,
      rgba(171, 132, 200, 1) 100%
    );
    box-shadow: 5px 5px 5px 0px rgba(219, 195, 236, 1);
}

.history .chart {
    /* margin: 50px 0; */
    /* margin: 0 auto; */
    margin: 20px 50px;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.history .recent-order {
    margin: 50px 50px;
    padding: 20px 0;
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

/* .detail-cart .detail-number {
    padding: 0 20px;
} */

/* Modal Add */
.modal-dialog .modal-body input,
select {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-dialog .modal-body .form-group label {
  color: #000;
  text-align: left;
}

.modal-dialog .modal-body input.price {
  width: 70%;
}
.modal-dialog .modal-body select {
  width: 50%;
  color: grey;
}

button.btn-outline-danger {
    width: 25%;
    display: inline-block;
    margin-left: 220px;
    background: #f24f8a;
    border: 1px solid #f24f8a;
    transition: 0.8s ease-in-out;
    color: #ffffff;
}
button.btn-outline-danger:hover {
    border: 1px solid #dd3f79;
    background-color: #dd3f79;
}

button.btn-outline-warning {
    width: 25%;
    display: inline-block;
    margin-left: 10px;
    background: #57cad5;
    border: 1px solid #57cad5;
    transition: 0.8s ease-in-out;
    color: #ffffff;
}

button.btn-outline-warning:hover {
    border: 1px solid #2fafbb;
    background-color: #2fafbb;
}
/* End Modal Add */

/* Modal Checkout */
button.btn.btn-secondary.btn-print {
    background: #f24f8a;
    border: 1px solid #f24f8a;
    transition: 0.8s ease-in-out;
}

button.btn.btn-secondary.btn-print:hover {
    border: 1px solid #dd3f79;
    background-color: #dd3f79;
}

button.btn.btn-primary.btn-send.btn-secondary {
    background: #57cad5;
    border: 1px solid #57cad5;
    transition: 0.8s ease-in-out;
}

button.btn.btn-primary.btn-send.btn-secondary:hover {
    border: 1px solid #2fafbb;
    background-color: #2fafbb;
}
/* End Modal Checkout */

@media (max-width: 768px) {
    .detail-sidenav img {
        width: 20px;
        margin: 20px 0;
        margin-left: -10px;
    }

    .main-content {
        height: 1050px;
    }

    .main-content .search-wrapper input{
        width: 50%;
        border: none;
        border: 1px solid rgb(133, 132, 132);
        border-radius: 5px;
        background: #fff;
        padding: 3px 5px;
    }

    .main-content .main-food img {
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    /* .main-content .main-food .select-image img {
        width: 25%;
        height: 25%;
        background-size: cover;
        margin-top: 25%;
    } */
    
    .main-content .main-food .select-image {
        content: "";
        width: 80%;
        height: 40%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 10%;
        border-radius: 10px 10px 0 0;
    }

    .main-content .main-food .img-cart img {
        width: 10px;
        height: 10px;
    }

    .main-content .main-food .img-cart {
        margin-left: -10px;
    }

    .main-content .main-food p {
        font-size: 16px;
        margin-top: 5px;
    }
    
    .main-content .main-food h3 {
        font-weight: bold;
        font-size: 18px;
    }
    
    .main-content .main-food .btn-access {
        width: 100%;
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
    }

    .content-cart .cartBefore img {
        width: 150px;
    }

    .content-cart .cartBefore h4 {
        font-size: 18px;
    }

    .content-cart .cartBefore p {
        font-size: 12px;
    }

    .detail-cart {
        margin: 10px;
        margin-left: 0;
    }
    
    .detail-cart h5 {
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 40px;
    }
    
    .detail-cart h6 {
        font-size: 12px;
        margin-top: 40px;
    }

    .detail-cart img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    
    .detail-cart .btn {
        border-radius: 0;
        font-size: 11px;
        font-weight: bold;
        color: #82de3a;
        border: 1px solid #82de3a;
    }
    
    .detail-cart .minus {
        background: rgba(130, 222, 58, 0.2);
        width: 20px;
        height: 20px;
        margin: 0 0 0 10px;
        padding-left: 7px;
        line-height: 0;
    }
    
    .detail-cart .detail-number .number {
        font-size: 9px;
    }
    
    .detail-cart .detail-number input {
        padding-bottom: 0;
        width: 20px;
        height: 20px;
    }
    
    .detail-cart .plus {
        background: rgba(130, 222, 58, 0.2);
        width: 20px;
        height: 20px;
        padding-left: 7px;
        line-height: 0;
    }

    .detail-cart .detail-cekout p span {
        font-size: 9px;
        font-weight: normal;
    }

    .history .card-history {
        display: grid;
        width: 200px;
        /* background: #e5e5e5; */
        grid-template-areas:
          "btn-income"
          "btn-orders"
          "btn-years";
    }

    .history .btn-income {
        margin: 20px 0;
    }

    .history .btn-orders {
        margin: 20px 0;
    }

    .history .btn-years {
        margin: 20px 0;
    }
}

@media (max-width: 575.98px) {
    .detail-sidenav img {
        margin: 20px 35px;
    }

    .main-content {
        height: 1800px;
    }

    .main-content .search-wrapper input{
        border: none;
        border: 1px solid rgb(133, 132, 132);
        border-radius: 5px;
        background: #fff;
        padding: 3px 5px;
        font-size: 14px;
    }

    .side-cart {
        position: fixed;
        top: 88%;
        /* bottom: 0; */
    }

    .detail-cart {
        margin: 30px 0 100px 0;
        /* margin-left: 20px; */
    }

    .main-content .main-food img {
        width: 250px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .main-content .main-food .select-image {
        content: "";
        width: 87%;
        height: 54%;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 7%;
        border-radius: 10px 10px 0 0;
    }

    .content-cart {
        background: #fff;
        height: 300px;
    }

    .detail-sidenav {
        position: fixed;
        z-index: 5;
        bottom: 0;
        width: 100%;
        background: #ffffff;
        padding-left: 40px;
        box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.12);
    }
    
    .history .recent-order .table-recent b-table {
        width: 100px;
    }
}